<div class="flex w-full h-screen overflow-y-auto">
  <div class="flex flex-col w-full h-full">
    <!-- header -->
    <div class="flex items-center justify-center mx-6 my-5">
      <div class="flex items-center justify-between w-full">
        <h1 class="w-full text-4xl font-bold uppercase font-signika">
          Quản lý thanh toán
        </h1>
        <button (click)="exportToExcel()"
          type="button"
          class="w-40 px-3 py-2 text-white bg-green-600 border-green-800 rounded-lg shadow-md shadow-green-400"
        >
          Xuất file Excel toàn bộ dữ liệu
        </button>
      </div>
    </div>
    <!-- body -->
    <div class="flex flex-col w-auto h-full mx-3 mt-1">
      <div class="flex flex-col w-full h-full gap-10 px-10">
        <!-- table data transaction wait to pay -->
        <div class="container mx-auto mt-5 h-[500px] mb-10">
          <div class="flex items-center justify-between w-full py-5 my-3">
            <h1 class="text-2xl font-bold">Các giao dịch đang chờ xác nhận</h1>
            <!-- component -->
            <!-- search bar -->

            <!-- end search bar -->
          </div>
          <div
            class="overflow-x-auto overflow-y-auto flex flex-col h-[calc(100vh-300px)] bg-white rounded-lg shadow-sm shadow-black"
          >
            <table class="overflow-y-auto divide-y divide-gray-200 table-fixed">
              <thead class="sticky top-0 z-10 bg-gray-50">
                <tr>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    STT
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Trạng thái
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngày
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tài khoản
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Người yêu cầu
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngân hàng
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tiền (90%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Hệ thống (10%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Email
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Hành động
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr
                  *ngFor="
                    let transaction of transactions_pending;
                    let i = index
                  "
                >
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ i + 1 }}
                    </p>
                  </td>

                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <span
                      [class]="
                        'px-2 py-1 font-semibold leading-tight rounded-full ' +
                        getStatusClass(transaction.status)
                      "
                    >
                      {{ transaction.status }}
                    </span>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.request_created_at | date : "dd/MM/yyyy" }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_account_number }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.account_holder_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.amount | number : "1.0-0" }}đ
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ (transaction.amount * 0.1) | number : "1.0-0" }}đ
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.email }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <div class="flex items-center justify-center gap-2">
                      <button
                        (click)="XacNhanDongY(transaction.request_id)"
                        type="button"
                        class="py-2 text-xs font-semibold border-2 rounded-md w-14 hover:bg-green-500 hover:text-white border-slate-700"
                      >
                        Đồng ý
                      </button>
                      <button
                        (click)="TuChoiThanhToan(transaction.request_id)"
                        type="button"
                        class="py-2 text-xs font-semibold border-2 rounded-md w-14 hover:bg-red-500 hover:text-white border-slate-700"
                      >
                        Từ chối
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- table data transaction paid -->
        <div class="container mx-auto mt-5 min-h-[500px] h-[500px] mb-[100px]">
          <div class="flex items-center justify-between w-full py-5 my-3">
            <h1 class="text-2xl font-bold">Các giao dịch đã chuyển khoản</h1>
            <!-- search bar -->

            <!-- end search bar -->
          </div>
          <div
            class="overflow-x-auto overflow-y-auto flex flex-col h-[calc(100vh-300px)] bg-white rounded-lg shadow-sm shadow-black"
          >
            <table class="overflow-y-auto divide-y divide-gray-200 table-fixed">
              <thead class="sticky top-0 z-10 bg-gray-50">
                <tr>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    STT
                  </th>

                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Trạng thái
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngày
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tài khoản
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Người yêu cầu
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngân hàng
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tiền (90%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Hệ thống (10%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Email
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Hành động
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr
                  *ngFor="
                    let transaction of transactions_approved;
                    let i = index
                  "
                >
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ i + 1 }}
                    </p>
                  </td>

                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <span
                      [class]="
                        'px-2 py-1 font-semibold leading-tight rounded-full ' +
                        getStatusClass(transaction.status)
                      "
                    >
                      {{ transaction.status }}
                    </span>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.request_created_at | date : "dd/MM/yyyy" }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_account_number }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.account_holder_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.amount | number : "1.0-0" }}đ
                    </p>
                  </td>
                  <td
                  class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                >
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ (transaction.amount * 0.1) | number : "1.0-0" }}đ
                  </p>
                </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.email }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <div class="flex items-center justify-center gap-2">
                      <button
                        (click)="XacNhanThanhToan(transaction.request_id)"
                        type="button"
                        class="py-2 text-xs font-semibold border-2 rounded-md w-14 hover:bg-green-500 hover:text-white border-slate-700"
                      >
                        Hoàn tất
                      </button>
                      <button
                        (click)="TuChoiThanhToan(transaction.request_id)"
                        type="button"
                        class="py-2 text-xs font-semibold border-2 rounded-md w-14 hover:bg-red-500 hover:text-white border-slate-700"
                      >
                        Thất bại
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- table data transaction paid -->
        <div class="container mx-auto mt-5 min-h-[500px] h-[500px] mb-[100px]">
          <div class="flex items-center justify-between w-full py-5 my-3">
            <h1 class="text-2xl font-bold">Các giao dịch đã thanh toán</h1>
            <!-- search bar -->

            <!-- end search bar -->
          </div>
          <div
            class="overflow-x-auto overflow-y-auto flex flex-col h-[calc(100vh-300px)] bg-white rounded-lg shadow-sm shadow-black"
          >
            <table class="overflow-y-auto divide-y divide-gray-200 table-fixed">
              <thead class="sticky top-0 z-10 bg-gray-50">
                <tr>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    STT
                  </th>

                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Trạng thái
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngày
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tài khoản
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Người yêu cầu
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngân hàng
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tiền (90%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Hệ thống (10%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Email
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr
                  *ngFor="
                    let transaction of transactions_confirmed;
                    let i = index
                  "
                >
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ i + 1 }}
                    </p>
                  </td>

                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <span
                      [class]="
                        'px-2 py-1 font-semibold leading-tight rounded-full ' +
                        getStatusClass(transaction.status)
                      "
                    >
                      {{ transaction.status }}
                    </span>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.request_created_at | date : "dd/MM/yyyy" }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_account_number }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.account_holder_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.amount | number : "1.0-0" }}đ
                    </p>
                  </td>
                  <td
                  class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                >
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ (transaction.amount * 0.1) | number : "1.0-0" }}đ
                  </p>
                </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.email }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- table data transaction reject  -->
        <div class="container mx-auto mt-5 min-h-[500px] h-[500px] mb-[100px]">
          <div class="flex items-center justify-between w-full py-5 my-3">
            <h1 class="text-2xl font-bold">Các giao dịch đã từ chối</h1>
            <!-- search bar -->

            <!-- end search bar -->
          </div>
          <div
            class="overflow-x-auto overflow-y-auto flex flex-col h-[calc(100vh-300px)] bg-white rounded-lg shadow-sm shadow-black"
          >
            <table class="overflow-y-auto divide-y divide-gray-200 table-fixed">
              <thead class="sticky top-0 z-10 bg-gray-50">
                <tr>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    STT
                  </th>

                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Trạng thái
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngày
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tài khoản
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Người yêu cầu
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Ngân hàng
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Số tiền (90%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Hệ thống (10%)
                  </th>
                  <th
                    class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                  >
                    Email
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr
                  *ngFor="
                    let transaction of transactions_rejected;
                    let i = index
                  "
                >
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ i + 1 }}
                    </p>
                  </td>

                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <span
                      [class]="
                        'px-2 py-1 font-semibold leading-tight rounded-full ' +
                        getStatusClass(transaction.status)
                      "
                    >
                      {{ transaction.status }}
                    </span>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.request_created_at | date : "dd/MM/yyyy" }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_account_number }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.account_holder_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.bank_name }}
                    </p>
                  </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.amount | number : "1.0-0" }}đ
                    </p>
                  </td>
                  <td
                  class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                >
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ (transaction.amount * 0.1) | number : "1.0-0" }}đ
                  </p>
                </td>
                  <td
                    class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                  >
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ transaction.email }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="w-full h-10 border"></div>
      </div>
    </div>
  </div>
</div>
