<section class="bg-gray-50 dark:bg-gray-900">
  <div
    [ngClass]="!btnSubmitPost ? 'flex' : 'hidden'"
    class="flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <div
        class="flex px-2 py-1 mx-2 text-4xl text-white bg-black rounded-lg font-signika"
      >
        Ei
      </div>
      <span class="text-4xl font-bold">ENovi.com</span>
    </a>
    <div
      class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
    >
      <h2
        class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Quên mật khẩu
      </h2>
      <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" (ngSubmit)="onSubmit()">
        <div>
          <div class="flex items-center justify-between">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Địa chỉ email</label
            >
            <div *ngIf="emailField.invalid && emailField.touched">
              Email không hợp lệ!
            </div>
          </div>
          <input
            [(ngModel)]="formForgotPassword.email"
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@gmail.com"
            required="Không được bỏ trống mục này!"
            pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
            #emailField="ngModel"
          />
        </div>
        <button
          [ngClass]="
            formForgotPassword.email == '' ? 'pointer-events-none' : ''
          "
          (click)="
            !emailField.invalid && emailField.touched
              ? togglebtnSubmitPost()
              : null
          "
          type="submit"
          class="w-full bg-zinc-800 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Gửi yêu cầu cấp lại mật khẩu
        </button>
      </form>
    </div>
  </div>

  <div
    [ngClass]="btnSubmitPost ? 'flex' : 'hidden'"
    class="flex items-center justify-center w-screen h-screen"
  >
    <!-- component -->
    <div
      class="flex flex-col items-center justify-center w-full h-screen font-sans bg-teal-lightest"
    >
      <div
        class="absolute flex items-center justify-center w-full h-screen bg-modal"
      >
        <div
          class="max-w-xs max-h-full p-8 m-4 overflow-y-scroll text-center bg-white rounded shadow-sm shadow-black"
        >
          <div class="mb-4 text-2xl font-bold text-violet-700">
            <h1>Thông báo!</h1>
          </div>
          <div class="mb-8">
            <p>
              Chúng tôi đã gửi một email xác nhận đến
              <span class="font-bold text-violet-700">{{ email }}</span
              >. Vui lòng kiểm tra.
            </p>
          </div>
          <div class="flex justify-center">
            <button
              [routerLink]="['/login']"
              class="px-4 py-2 text-gray-100 rounded flex-no-shrink bg-teal hover:bg-teal-dark bg-slate-700"
            >
              Đăng nhập lại
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
