<div class="w-full overflow-x-hidden">
  <div class="flex flex-col w-4/5 mx-auto my-5">
    <h1 class="w-full mt-8 text-3xl font-bold break-all font-signika">
      Từ khóa tìm kiếm: "<span class="text-blue-700">{{ SearchContext }}</span
      >"
    </h1>
    <div>
      <!-- filter -->
      <div class="flex items-end justify-between my-5">
        <div class="flex items-center gap-2">
          <button
            (click)="toggleFilter()"
            type="button"
            class="flex items-center justify-center p-2 text-xl font-semibold bg-white border-2 border-gray-700 rounded-md cursor-default hover:bg-slate-100"
          >
            <i
              [class.bi-funnel-fill]="isOpenFilter"
              [class.bi-funnel]="!isOpenFilter"
              class="mr-2 text-xl bi"
            ></i
            >Bộ lọc
          </button>
          <button
            id="btnSortBy"
            type="button"
            class="relative flex items-center justify-center w-40 px-2 py-1 font-semibold bg-white border-2 border-gray-700 rounded-md cursor-default hover:bg-slate-100"
            (click)="toggleSortBy()"
          >
            <div class="flex flex-col items-start mr-2">
              <span class="text-xs">Sắp xếp theo</span>
              <span class="text-sm">Giá cao đến thấp</span>
            </div>
            <i class="bi bi-chevron-down"></i>
          </button>
          <!-- dropdown sort by -->
          <div
            *ngIf="isOpenDropdownSortBy"
            class="absolute z-10 flex flex-col w-40 left-[265px] rounded-lg gap-0 border-2 border-slate-500 top-[13.5rem] bg-slate-100"
          >
            <button
              *ngFor="let item of sortby; let first = first; let last = last"
              type="button"
              class="flex px-2 py-1 transition-all duration-100 border-b border-slate-500 hover:bg-slate-600 hover:text-white"
              [ngClass]="{
                'rounded-t-md': first,
                'rounded-b-md': last
              }"
            >
              {{ item.name }}
            </button>
          </div>
          <button
            (click)="FilterSearchFormSubmit()"
            (mouseenter)="isHoveredLocTheoCaiDat = true"
            (mouseleave)="isHoveredLocTheoCaiDat = false"
            class="flex items-center justify-center gap-2 px-2 py-1 text-sm font-semibold bg-white border-2 border-gray-700 rounded-md cursor-pointer hover:bg-slate-100"
          >
            <i class="bi bi-search"></i>
            <div
              class="flex flex-col items-start justify-center text-sm font-semibold cursor-pointer"
            >
              <span class="text-xs">Tìm kiếm</span>
              <p>Lọc theo cài đặt</p>
            </div>
          </button>
        </div>
        <div class="flex items-center justify-between gap-2">
          <h6 class="font-bold">{{ numberofResult }} kết quả</h6>
          <!-- Pagination -->
          <app-pagination
            [totalItem]="totalItems"
            [itemCurrentPage]="20"
            [currentPageParent]="currentPage"
            (btnNextPage)="nextPageRecivePagination()"
            (btnPreviousPage)="previousPageRecivePagination()"
          ></app-pagination>
          <!-- End Pagination -->
        </div>
      </div>
      <!-- body -->
      <div class="flex w-full">
        <!-- left -->
        <div
          [ngClass]="{
            'w-1/4 animate-expand-from-right duration-[0.3s] bg-white mb-3 flex-nowrap':
              isOpenFilter,
            'w-0 animate-collapse-to-left duration-[0.301s] bg-white overflow-hidden flex-nowrap':
              !isOpenFilter,
            'bg-[#ffffff] border-slate-700 ': isHoveredLocTheoCaiDat
          }"
          class="overflow-x-hidden overflow-y-scroll truncate transition-all border-2 rounded-tr-md rounded-br-md border-s-transparent"
        >
          <form #FilterSearchForm="ngForm"></form>
          <!-- ratings -->
          <div
            class="flex flex-col pt-3 mr-5 overflow-hidden border-b-2 border-slate-300"
          >
            <button
              type="button"
              class="flex items-center justify-between pb-3"
              (click)="ToggleFilterItem('ratings')"
            >
              <h1 class="text-2xl font-bold cursor-pointer font-signika">
                Đánh giá
              </h1>
              <i
                [ngClass]="{
                  'bi-chevron-down': !isRating,
                  'bi-chevron-up': isRating
                }"
                class="cursor-pointer bi"
              ></i>
            </button>
            <div
              [ngClass]="{
                'h-20 animate-collapse-to-bottom duration-[0.3s] bg-white mb-3 ':
                  isRating,
                'h-0 animate-expand-from-top duration-[0.301s] bg-white overflow-hidden':
                  !isRating
              }"
              class="flex flex-col items-start gap-2 overflow-x-hidden overflow-y-hidden"
            >
              <!-- item rate -->
              <div class="flex items-center justify-center">
                <input
                  [(ngModel)]="filterElement.rating"
                  type="radio"
                  id="rating45"
                  name="ratingradio"
                  [value]="ratingValue[2].value"
                  class="flex w-5 h-5 cursor-pointer"
                />
                <label for="rating45" class="flex items-center gap-1 ml-3">
                  <div class="flex gap-1">
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-half"></i>
                  </div>
                  <h6 class="text-sm font-semibold">Từ 4.5 sao trở lên</h6>
                </label>
              </div>
              <!-- item rate -->
              <div class="flex items-center justify-center">
                <input
                  [(ngModel)]="filterElement.rating"
                  type="radio"
                  id="rating4"
                  name="ratingradio"
                  [value]="ratingValue[1].value"
                  class="flex w-5 h-5 cursor-pointer"
                />
                <label for="rating4" class="flex items-center gap-1 ml-3">
                  <div class="flex gap-1">
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star"></i>
                  </div>
                  <h6 class="text-sm font-semibold">Từ 4 sao trở lên</h6>
                </label>
              </div>
              <!-- item rate -->
              <div class="flex items-center justify-center">
                <input
                  [(ngModel)]="filterElement.rating"
                  type="radio"
                  id="rating3"
                  name="ratingradio"
                  [value]="ratingValue[0].value"
                  class="flex w-5 h-5 cursor-pointer"
                />
                <label for="rating3" class="flex items-center gap-1 ml-3">
                  <div class="flex gap-1">
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star-fill"></i>
                    <i class="text-xs text-yellow-600 bi bi-star"></i>
                    <i class="text-xs text-yellow-600 bi bi-star"></i>
                  </div>
                  <h6 class="text-sm font-semibold">Từ 3 sao trở lên</h6>
                </label>
              </div>
            </div>
          </div>
          <!-- language -->
          <div class="flex flex-col pt-3 mr-5 border-b-2 border-slate-300">
            <button
              (click)="ToggleFilterItem('language')"
              type="button"
              class="flex items-center justify-between pb-3"
            >
              <h1 class="text-2xl font-bold cursor-pointer font-signika">
                Ngôn ngữ
              </h1>
              <i
                [ngClass]="{
                  'bi-chevron-down': !isLanguage,
                  'bi-chevron-up': isLanguage
                }"
                class="cursor-pointer bi"
              ></i>
            </button>
            <div
              [ngClass]="{
                'h-[160px] animate-collapse-to-bottom duration-[0.3s] bg-white mb-3 ':
                  isLanguage,
                'h-0 animate-expand-from-top duration-[0.301s] bg-white overflow-hidden':
                  !isLanguage
              }"
              class="flex flex-col items-start gap-2 overflow-x-hidden overflow-y-auto"
            >
              <!-- item rate -->
              <div
                class="flex items-center justify-center gap-2"
                *ngFor="let item of languages"
              >
                <input
                  [(ngModel)]="filterElement.language"
                  type="radio"
                  [id]="'languages' + item.id"
                  name="languagesradio"
                  [value]="item.value"
                  class="flex w-5 h-5 cursor-pointer"
                />
                <h6 class="text-sm font-semibold">{{ item.name }}</h6>
              </div>
            </div>
          </div>
          <!-- video duration -->
          <div class="flex flex-col pt-3 mr-5 border-b-2 border-slate-300">
            <button
              (click)="ToggleFilterItem('VideoDuration')"
              type="button"
              class="flex items-center justify-between pb-3"
            >
              <h1 class="text-2xl font-bold cursor-pointer font-signika">
                Tổng giờ học
              </h1>
              <i
                [ngClass]="{
                  'bi-chevron-down': !isVideoDuration,
                  'bi-chevron-up': isVideoDuration
                }"
                class="cursor-pointer bi"
              ></i>
            </button>
            <div
              [ngClass]="{
                'h-36 animate-collapse-to-bottom duration-[0.3s] bg-white mb-3 ':
                  isVideoDuration,
                'h-0 animate-expand-from-top duration-[0.301s] bg-white overflow-hidden':
                  !isVideoDuration
              }"
              class="flex flex-col items-start gap-2 overflow-x-hidden overflow-y-hidden"
            >
              <!-- item rate -->
              <div
                class="flex items-center justify-center gap-2"
                *ngFor="let item of VideoDuration"
              >
                <input
                  [(ngModel)]="filterElement.duration"
                  type="radio"
                  [id]="'duration' + item.id"
                  name="durationradio"
                  [value]="item.value"
                  class="flex w-5 h-5 cursor-pointer"
                />
                <h6 class="text-sm font-semibold">{{ item.name }}</h6>
              </div>
            </div>
          </div>
          <!-- Level -->
          <div class="flex flex-col pt-3 mr-5 border-b-2 border-slate-300">
            <button
              (click)="ToggleFilterItem('Level')"
              type="button"
              class="flex items-center justify-between pb-3"
            >
              <h1 class="text-2xl font-bold cursor-pointer font-signika">
                Trình độ
              </h1>
              <i
                [ngClass]="{
                  'bi-chevron-down': !isLevelOfCourse,
                  'bi-chevron-up': isLevelOfCourse
                }"
                class="cursor-pointer bi"
              ></i>
            </button>
            <div
              [ngClass]="{
                'h-28 animate-collapse-to-bottom duration-[0.3s] bg-white mb-3 ':
                  isLevelOfCourse,
                'h-0 animate-expand-from-top duration-[0.301s] bg-white overflow-hidden':
                  !isLevelOfCourse
              }"
              class="flex flex-col items-start gap-2 overflow-x-hidden overflow-y-hidden"
            >
              <!-- item rate -->
              <div
                class="flex items-center justify-center gap-2"
                *ngFor="let item of LevelOfCourse"
              >
                <input
                  [(ngModel)]="filterElement.level"
                  type="radio"
                  [id]="'level' + item.id"
                  name="levelradio"
                  [value]="item.value"
                  class="flex w-5 h-5 cursor-pointer"
                />
                <h6 class="text-sm font-semibold">{{ item.name }}</h6>
              </div>
            </div>
          </div>
          <!-- Price -->
          <div class="flex flex-col pt-3 mr-5 border-b-2 border-slate-300">
            <button
              (click)="ToggleFilterItem('Price')"
              type="button"
              class="flex items-center justify-between pb-3"
            >
              <h1 class="text-2xl font-bold cursor-pointer font-signika">
                Giá
              </h1>
              <i
                [ngClass]="{
                  'bi-chevron-down': !isPriceOfCourse,
                  'bi-chevron-up': isPriceOfCourse
                }"
                class="cursor-pointer bi"
              ></i>
            </button>
            <div
              [ngClass]="{
                'h-12 animate-collapse-to-bottom duration-[0.3s] bg-white mb-3':
                  isPriceOfCourse,
                'h-0 animate-expand-from-top duration-[0.301s] bg-white overflow-hidden':
                  !isPriceOfCourse
              }"
              class="flex flex-col items-start gap-2 overflow-x-hidden overflow-y-hidden"
            >
              <!-- item rate -->
              <div
                class="flex items-center justify-center gap-2"
                *ngFor="let item of PriceOfCourse"
              >
                <input
                  [(ngModel)]="filterElement.price"
                  type="radio"
                  [id]="'price' + item.id"
                  name="priceradio"
                  [value]="item.value"
                  class="flex w-5 h-5 cursor-pointer"
                />
                <h6 class="text-sm font-semibold">{{ item.name }}</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- right center -->
        <div
          class="flex flex-col items-center justify-between w-full transition-all bg-white rounded-lg"
        >
          <!-- list course -->
          <div class="flex flex-col w-full px-2">
            <app-course-item-search
              class="w-full"
              [listCourse]="listCourse"
            ></app-course-item-search>
          </div>
          <!--  end list course -->

          <!-- Pagination -->
          <app-pagination
            [totalItem]="totalItems"
            [itemCurrentPage]="20"
            [currentPageParent]="currentPage"
            (btnNextPage)="nextPageRecivePagination()"
            (btnPreviousPage)="previousPageRecivePagination()"
          ></app-pagination>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>
