<!-- component -->
<div
  class="mx-auto mt-6 overflow-hidden duration-300 transform bg-white rounded-lg shadow-md w-72 dark:bg-slate-800 hover:shadow-black hover:shadow-lg"
>
  <img
    class="relative object-cover object-center w-full h-48"
    [src]="urlBackend_img_banner_course+ itemCourse.img"
    alt="Product Image"
  />
  <div class="p-4">
    <a (click)="goToCourseDetail(itemCourse.id, itemCourse.title)" class="mb-2 font-medium text-gray-900 cursor-pointer text-md dark:text-white line-clamp-2 hover:text-blue-600">
      {{ itemCourse.title }}
    </a>
    <div  class="flex items-center justify-between">
      <p  class="font-semibold text-gray-900 text-md ">
        <!-- Tiến trình: <span>10%</span> -->
      </p> 
      <button type="button"   (click)="goToCourseLecture(itemCourse.id, itemCourse.title)"
        class="px-2 py-1 text-base font-medium text-white rounded-md cursor-pointer hover:text-yellow-400 hover:bg-slate-800 bg-emerald-600"
      >
        Vào học
      </button>
    </div>
  </div>
  <button
    type="button"
    id="deleteCourse"
    class="absolute top-0 right-0 p-2 text-white hover:bg-white hover:text-black focus:outline-none hover:font-bold hover:shadow-sm"
    (mouseenter)="hovering = true"
    (mouseleave)="hovering = false"
    (click)="onDeleteCourse()"
  >
    <i
      *ngIf="!hovering"
      class="cursor-pointer bi bi-three-dots-vertical"
    ></i>
    <span *ngIf="hovering" class="cursor-pointer"><i class="cursor-pointer bi bi-trash"></i></span>
  </button>
</div>
