<div class="w-full h-screen overflow-y-auto">
  <div class="w-full h-full px-4 py-8">
    <h1 class="mb-6 text-3xl font-bold">Lịch sử giao dịch</h1>
    <div class="bg-white rounded-lg shadow-md">
      <table class="min-w-full leading-normal table-fixed">
        <thead>
          <tr>
            <th
              class="w-2/12 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
            >
              Ngày thanh toán
            </th>
            <th
              class="w-4/12 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
            >
              Khóa học
            </th>
            <th
              class="w-2/12 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
            >
              Số tiền
            </th>
            <th
              class="w-2/12 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
            >
              Phương thức
            </th>
            <th
              class="w-2/12 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
            >
              Trạng thái
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of paymentshistory">
            <td class="px-5 py-5 text-sm font-semibold bg-white border-b border-gray-200">
                {{ payment.paymentDate | date: "HH:mm • dd/MM/yyyy" }}
            </td>
            <td class="px-5 py-5 text-sm font-semibold bg-white border-b border-gray-200">
              {{ payment.courseTitle }}
            </td>
            <td class="px-5 py-5 text-sm font-semibold bg-white border-b border-gray-200">
              {{ payment.amount | number : "1.0-0" }} đ
            </td>
            <td class="px-5 py-5 text-sm font-semibold bg-white border-b border-gray-200">
              {{ payment.paymentMethod }}
            </td>
            <td class="px-5 py-5 text-sm font-semibold bg-white border-b border-gray-200">
              <span
                [ngClass]="getStatusColor(payment.status)"
                class="relative inline-block px-3 py-1 font-semibold leading-tight capitalize"
              >
                {{ payment.status === 'pending' ? 'Đang chờ' : 
                   payment.status === 'completed' ? 'Hoàn thành' : 
                   payment.status === 'failed' ? 'Thất bại' : 
                   payment.status === 'refunded' ? 'Đã hoàn tiền' : payment.status }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
