<div class="flex w-full h-screen py-10 overflow-y-auto">
  <div class="flex flex-col w-full h-full pb-10">
    <!-- header -->
    <div class="flex items-center justify-center mx-6 my-5">
      <div class="flex items-center justify-between w-full">
        <h1 class="w-1/4 text-4xl font-bold uppercase font-signika">
          Doanh thu <br />
          hệ thống
        </h1>
        <!-- over view : revenue : number of student : rate of courses -->
        <div class="flex items-center justify-between w-full">
          <div class="flex items-start justify-start gap-20">
            <!-- tổng doanh thu -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Tổng doanh thu</h1>
              <span class="text-2xl font-bold"
                >{{totalRevenue | number:'1.0-0'}}<span class="text-sm text-gray-600">đ</span></span
              >
            </div>
            <!-- tổng hoa hồng nhận được  -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Hoa hồng nhận được (10%)</h1>
                <span class="text-2xl font-bold"
                >{{(totalRevenue * 0.1) | number:'1.0-0'}}<span class="text-sm text-gray-600">đ</span></span>
            </div>
            <!-- Tổng số học sinh tham gia khóa học -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Tổng người dùng</h1>
              <span class="text-2xl font-bold"
                >{{totalUser }}<span class="text-sm text-gray-600">người</span></span
              >
            </div>
            <!--  học sinh tham gia khóa học tháng này -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Tổng giảng viên</h1>
              <span class="text-2xl font-bold"
                >{{totalInstructor|  number:'1.0-0' }} <span class="text-sm text-gray-600">người</span></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- body -->
    <div class="flex flex-col w-auto h-full pb-10 mx-3 mt-5">
      <div class="flex flex-col w-full h-full p-5">
        <div class="flex items-center justify-between">
          <div class="flex"></div>
          <div class="flex">
            <select
              (change)="onChangeTypeChart($event)"
              class="w-[180px] py-2 border rounded-md focus:outline-none shadow-sm shadow-gray-400"
            >
              <option
                *ngFor="let item of typeChartList; let i = index"
                [value]="typeChartList[i].name"
              >
                {{ item.title }}
              </option>
            </select>
          </div>
        </div>
        <!-- chart -->
        <div class="flex w-full min-h-[calc(100vh-100px)] mt-10">
          <div
            class="flex flex-col w-full h-full border-2 border-gray-500 rounded-md"
          >
            <!-- biểu đồ tại đây -->
            <apx-chart
              *ngIf="
                chartOptions.series &&
                chartOptions.chart &&
                chartOptions.xaxis &&
                chartOptions.title
              "
              class="w-full h-full"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [title]="chartOptions.title"
            ></apx-chart>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
