<div class="flex flex-col w-full min-h-screen px-4 py-8 overflow-y-auto">
  <div class="flex flex-col h-full max-w-6xl gap-8 pb-8 mx-auto lg:flex-row">
    <!-- Main Content -->
    <div class="flex-1 h-full  w-[780px]">
      <!-- Header -->
      <div class="mb-6">
        <div class="mb-1 text-sm tracking-wider text-gray-600 uppercase">
          Giảng viên
        </div>
        <h1 class="mb-2 text-4xl font-bold text-gray-900">
          {{ instructor.name }}
        </h1>
        <!-- <p class="text-lg text-gray-600">{{ instructor.overview }}</p> -->
      </div>

      <!-- Stats -->
      <div class="flex gap-8 mb-8 ">
        <div>
          <div class="text-2xl font-bold text-gray-900">
            {{ instructor.stats.totalStudents | number }}
          </div>
          <div class="text-sm text-gray-600">Tổng học viên</div>
        </div>
        <div>
          <div class="text-2xl font-bold text-gray-900">{{ instructor.stats.totalCourses | number }}</div>
          <div class="text-sm text-gray-600">Khóa học</div>
        </div>
        <div hidden>
          <div class="text-2xl font-bold text-gray-900">
            {{ instructor.stats.reviews | number }}
          </div>
          <div class="text-sm text-gray-600">Reviews</div>
        </div>
      </div>

      <!-- About Section -->
      <div class="w-full mb-8">
        <h2 class="w-full mb-4 text-xl font-bold text-gray-900">Giới thiệu</h2>
        <div class=" p-3 w-full h-[500px] overflow-y-auto mb-10 space-y-4 text-gray-600 whitespace-pre-line border-2 border-gray-300 rounded-md">
          {{ instructor.bio }}
        </div>
      </div>

      <!-- padding section -->
      <div class="flex h-10"></div>
    </div>

    <!-- Sidebar -->
    <div class="lg:w-80">
      <a
        [routerLink]="editProfileURL"
        class="flex items-center justify-center w-full py-3 mb-3 text-2xl font-bold text-white bg-black rounded-lg cursor-pointer hover:bg-slate-800"
        >Điều chỉnh hồ sơ</a
      >
      <!-- Profile Image -->
      <div class="mb-6">
        <img
          [src]="urlBackend_img_banner_course + avatarUrl"
          alt="Profile photo"
          class="object-cover w-64 h-64 mx-auto border-2 rounded-full border-slate-400"
        />
      </div>

      <!-- Social Links -->
      <div class="space-y-3">
        <a
          *ngFor="let link of instructor.socialLinks"
          [href]="'https://' + link.url"
          target="_blank"
          class="flex items-center justify-start w-full p-3 overflow-x-hidden font-bold truncate transition-colors border border-gray-300 rounded-lg hover:bg-gray-50"
        >
          <i [class]="'fas fa-' + link.icon + ' mr-2'"></i>
          {{ link.name }}
        </a>
      </div>
    </div>
  </div>
</div>
