<!-- card list -->
<div
  [ngClass]="listORCard ? '' : 'hidden'"
  class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4"
>
  <!-- Course Card n -->
  <div
    *ngFor="let item of listCourseAdmin"
    (click)="sendDataToParent(item)"
    class="p-4 transition duration-200 bg-white rounded-md shadow-md hover:shadow-lg"
  >
    <h2 class="mb-2 text-lg font-semibold line-clamp-1">{{ item.title }}</h2>
    <div class="mb-2 text-sm font-medium text-white rounded-lg">
      <img class="w-full h-full rounded-lg" [src]="item.thumbnail" alt="" />
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2 mb-1 text-sm text-gray-600">
        <i class="bi bi-people"></i>
        <span>{{ item.enrollments }} học viên</span>
      </div>
      <div class="flex items-center gap-2 text-sm text-gray-600">
        <i class="bi bi-clock"></i>
        <span>{{ item.duration }} giờ</span>
      </div>
      <div class="flex items-center gap-2 text-sm text-gray-600">
        <i class="bi bi-star-fill"></i>
        <span>{{ item.rating }} giờ</span>
      </div>
    </div>
  </div>
</div>

<!-- table list -->

<div [ngClass]="!listORCard ? '' : 'hidden'" class="w-full h-full">
  <div class="overflow-hidden rounded-md shadow-md">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th
            class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
          >
            STT
          </th>
          <th
            class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
          >
            Tên Sản Phẩm
          </th>
          <th
            class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
          >
            Giá
          </th>
          <th
            class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
          >
            Số Lượng
          </th>
          <th
            class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
          >
            Trạng Thái
          </th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr
          *ngFor="let item of listCourseAdmin; let i = index"
          (click)="sendDataToParent(item)"
          class="transition duration-150 hover:bg-green-100"
        >
          <td class="px-5 py-5 text-sm border-b border-gray-200">
            <p class="text-gray-900 whitespace-no-wrap">{{ i + 1 }}</p>
          </td>
          <td class="px-5 py-5 text-sm border-b border-gray-200">
            <p class="text-gray-900 whitespace-no-wrap">{{ item.title }}</p>
          </td>
          <td class="px-5 py-5 text-sm border-b border-gray-200">
            <p class="text-gray-900 whitespace-no-wrap">
              {{ item.price | currency : "VND" : "symbol" : "1.0-0" }}
            </p>
          </td>
          <td class="px-5 py-5 text-sm border-b border-gray-200">
            <p class="text-gray-900 whitespace-no-wrap">
              {{ item.commission }}
            </p>
          </td>
          <td class="px-5 py-5 text-sm border-b border-gray-200">
            <span
              class="relative inline-block px-3 py-1 font-semibold leading-tight"
              [class]="getStatusClass(item.duration)"
            >
              <span
                aria-hidden
                class="absolute inset-0 rounded-full opacity-50"
              ></span>
              <span class="relative">{{ item.enrollments }}</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
