<div class="min-h-screen p-8 bg-white">
  <div class="max-w-3xl mx-auto">
    <div class="flex items-start gap-4">
      <div class="w-32 h-32 bg-gray-200 border border-gray-300 rounded-full">
        <img
          src="/img/banner/bannerLotrinhhoc.png"
          alt="avatar"
          class="w-full h-full bg-gray-200 rounded-full"
        />
      </div>
      <div class="flex flex-col">
        <h1 class="text-4xl font-bold text-gray-900">Tên người dùng</h1>
        <p class="text-xl text-gray-600">Lĩnh vực</p>
      </div>
    </div>

    <div class="mt-8">
      <h2 class="mb-4 text-xl font-semibold text-gray-900">
        Đôi nét về bản thân
      </h2>
      <p class="leading-relaxed text-justify text-gray-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        nemo id, eaque eveniet doloribus fuga recusandae veniam amet eum
        inventore soluta, facilis, expedita ut sint nostrum explicabo
        repudiandae dolor accusamus! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Perferendis nemo id, eaque eveniet doloribus fuga
        recusandae veniam amet eum inventore soluta, facilis, expedita ut sint
        nostrum explicabo repudiandae dolor accusamus!
      </p>
    </div>
  </div>
</div>
