<form class="w-full min-h-screen mb-10">
  <div class="flex w-[1372px] items-start justify-center gap-6 mb-6 flex-wrap">
    <!-- left -->
    <div class="flex flex-col justify-center w-full gap-3">
      <div>
        <label class="block mb-2 font-bold text-gray-700">Tên hiển thị</label>
        <input
          type="text"
          class="w-full p-2 border border-gray-300 rounded"
          [value]="getUserId().name"
        />
      </div>

      <div hidden>
        <label class="block mb-2 font-bold text-gray-700">Lĩnh vực</label>
        <input
          type="text"
          class="w-full p-2 border border-gray-300 rounded"
          value="Instructor at Udemy"
        />
      </div>
      <div *ngIf="showTieuSuGiangVien !== 'student'">
        <label class="block mb-2 font-bold text-gray-700"
          >Website cá nhân</label
        >
        <input
          type="text"
          class="w-full p-2 border border-gray-300 rounded"
          placeholder="Url"
          [value]="getUserId().website"
        />
      </div>
      <div *ngIf="showTieuSuGiangVien !== 'student'">
        <label class="block mb-2 font-bold text-gray-700"
          >Tiểu sử giảng viên</label
        >

        <quill-editor
          placeholder="Viết tiểu sư của bạn"
          theme="snow"
          [modules]="modules"
          class="w-full p-2 border border-gray-300 rounded"
          [(ngModel)]="biography"
          [ngModelOptions]="{standalone: true}"
        ></quill-editor>

        <div class="flex items-center gap-2">
          <p class="mt-2 text-sm text-gray-500">
            Tiểu sử cần ít nhất 50 từ, phản ánh kinh nghiệm và kiến thức của
            bạn, để học sinh có cái nhìn tổng quan và lượt chọn khóa học của
            bạn. Không dùng mã giảm giá trong phần này.
          </p>
        </div>
      </div>
    </div>
    <!-- right -->
    <!-- <div hidden class="flex-col w-full gap-2">
      <div>
        <label class="block mb-2 text-gray-700">Website cá nhân</label>
        <input
          type="text"
          class="w-full p-2 border border-gray-300 rounded"
          placeholder="Url"
        />
      </div>

      <div hidden>
        <label class="block mb-2 text-gray-700">X</label>
        <div class="flex">
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-l"
            value="http://www.x.com/"
          />
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-r"
            placeholder="Username"
          />
        </div>
      </div>

      <div hidden>
        <label class="block mb-2 text-gray-700">Facebook</label>
        <div class="flex">
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-l"
            value="http://www.facebook.com/"
          />
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-r"
            placeholder="Username"
          />
        </div>
      </div>

      <div hidden>
        <label class="block mb-2 text-gray-700">LinkedIn</label>
        <div class="flex">
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-l"
            value="http://www.linkedin.com/"
          />
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-r"
            placeholder="Resource ID"
          />
        </div>
      </div>

      <div hidden>
        <label class="block mb-2 text-gray-700">Youtube</label>
        <div class="flex">
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-l"
            value="http://www.youtube.com/"
          />
          <input
            type="text"
            class="w-1/2 p-2 border border-gray-300 rounded-r"
            placeholder="Username"
          />
        </div>
      </div>

      <div hidden>
        <label class="block mb-2 text-gray-700">Language</label>
        <select class="w-full p-2 border border-gray-300 rounded">
          <option>Tiếng Việt</option>
          <option>Tiếng Anh</option>
          <option>Tiếng Trung Quốc</option>
          <option>Tiếng Hàn</option>
          <option>Tiếng Nhật</option>
          <option>Tiếng Pháp</option>
          <option>Tiếng Đức</option>
          <option>Tiếng Ấn Độ</option>
        </select>
      </div>
    </div> -->
  </div>
  <div class="flex items-center justify-end w-full">
    <button
      type="submit"
      class="flex items-end px-12 py-2 font-bold text-white bg-purple-500 rounded w-fit"
    >
      Lưu
    </button>
  </div>
</form>
