<!-- component -->
<div class="flex items-center min-h-screen p-4 bg-gray-100 lg:justify-center">
  <div
    class="flex flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md"
  >
    <!-- left -->
    <div
      id="left"
      class="p-4 py-6 text-white md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly"
    >
      <div class="my-3 text-4xl font-bold tracking-wider text-center">
        <a href="#">ENovi</a>
      </div>
      <div class="mt-6 font-normal text-center rounded-md md:mt-0">
        <div class="z-[20] relative text-white w-full h-full">
          <p>
            Nâng cấp kỹ năng của bạn thông qua các khoá học trên nền tảng của
            chúng tôi!
          </p>
          <div
            class="absolute top-0 left-0 -z-[3] flex w-full h-full bg-opacity-100 bg-slate-500 blur-lg"
          ></div>
        </div>
      </div>
      <p class="flex flex-col items-center justify-center mt-10 text-center">
        <span>Bạn chưa có tài khoản?</span>
        <a [routerLink]="['/register']" class="font-semibold hover:text-violet-400">Đăng ký nào!</a>
      </p>
      <a
        href="#"
        class="px-2 py-1 transition-all border border-white rounded-md group hover:bg-black hover:border-slate-900 hover:shadow-md"
      >
        <i class="bi bi-house group-hover:hidden"></i>
        <i class="hidden bi bi-house-fill group-hover:inline"></i>
      </a>
    </div>
    <!-- right -->
    <div class="p-5 bg-white md:flex-1">
      <h3 class="my-4 text-2xl font-bold text-gray-700 uppercase">Đăng nhập</h3>
      <form
        #resetForm="ngForm"
        (ngSubmit)="loginWithENovi()"
        class="flex flex-col space-y-5"
      >
        <div class="flex flex-col space-y-1">
          <label for="email" class="text-sm font-semibold text-gray-500"
            >Email</label
          >
          <input
            [(ngModel)]="formLogin.email"
            name="email"
            type="email"
            placeholder="Nhập email của bạn"
            id="email"
            autofocus
            class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
          />
        </div>
        <div class="flex flex-col space-y-1">
          <div class="flex items-center justify-between">
            <label for="password" class="text-sm font-semibold text-gray-500"
              >Mật khẩu</label
            >
          </div>
          <input
            required=""
            [(ngModel)]="formLogin.password"
            placeholder="Nhập mật khẩu"
            type="password"
            id="password"
            name="password"
            class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
          />
        </div>
        <div class="flex items-center justify-center">
         <!-- Notification -->
        <div
        *ngIf="showNotification"
        class="p-2 text-sm rounded"
        [ngClass]="{
          'text-red-500 bg-red-100':
            response.message.includes('không') ||
            response.message.includes('Sai') ||
            response.message.includes('lỗi'),
          'text-green-500 bg-green-100':
            response.message.includes('thành công'),
          'text-gray-500 bg-gray-100': response.message.includes('Vui lòng')
        }"
      >
        {{ response.message }}
      </div>
        </div>
        <div class="flex items-center justify-between space-x-2">
          <div class="flex items-center space-x-2">
            <input
            [(ngModel)]="formLogin.rememeberPassword"
              type="checkbox"
              id="remember"
              name="rememberPassword"
              class="w-4 h-4 transition duration-300 rounded focus:ring-2 focus:ring-offset-0 focus:outline-none focus:ring-blue-200"
            />
            <label for="remember" class="text-sm font-semibold text-gray-500"
              >Nhớ mật khẩu</label
            >
          </div>
          <a
            [routerLink]="['/forgot-password']"
            class="text-sm text-blue-600 hover:underline focus:text-blue-800"
            >Quên mật khẩu?</a
          >
        </div>
        <div>
          <button
            type="submit"
            class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4"
          >
            Đăng nhập
          </button>
        </div>
        <div class="flex flex-col space-y-5">
          <span class="flex items-center justify-center space-x-2">
            <span class="h-px bg-gray-400 w-14"></span>
            <span class="font-normal text-gray-500">Hoặc đăng nhập bằng</span>
            <span class="h-px bg-gray-400 w-14"></span>
          </span>
          <div class="flex items-center justify-center gap-4">
            <button
            (click)="loginWithGoogle()"
              type="button"
              class="flex items-center justify-center p-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-full group hover:bg-blue-600 hover:text-white hover:shadow-slate-800 focus:outline-none"
            >
              <span class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="cursor-pointer bi bi-google"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
