<section class="relative bg-gray-50 dark:bg-gray-900">
  <div
    class="relative flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >


  <div [ngClass]="showNotification?'flex':'hidden'" class="absolute items-center justify-center w-full transition-all duration-300 top-10 ">
    <div id="alert-3" class="flex items-center p-4 mb-4 bg-green-500 rounded-lg text-slate-100 dark:bg-gray-800 dark:text-green-400" role="alert">
      <svg class="w-4 h-4 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div class="mx-10 text-sm font-medium ms-3">
        Đổi mật khẩu thành công! Sẽ chuyển hướng trong 2 giây
      </div>
      <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
    </div>
  </div>

    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <div
        class="flex px-2 py-1 mx-2 text-4xl text-white bg-black rounded-lg font-signika"
      >
        Ei
      </div>
      <span class="text-4xl font-bold">ENovi.com</span>
    </a>
    <div
      class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
    >
      <h2
        class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Thay đổi mật khẩu
      </h2>
      <form
        class="mt-4 space-y-4 lg:mt-5 md:space-y-5"
        (ngSubmit)="onSubmitResetPassword()"
      >
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Địa chỉ email</label
          >
          <input
            type="text"
            name="email"
            id="email"
            disabled
            [value]="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Mật khẩu mới</label
          >
          <input
            type="{{ PassordType }}"
            name="password"
            id="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required="vui lòng nhập mật khẩu mới"
            [(ngModel)]="formResetPassword.password"
          />
        </div>
        <div>
          <label
            for="confirm-password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nhập lại mật khẩu</label
          >
          <input
            type="{{ PassordType }}"
            name="confirm-password"
            id="confirm-password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required="vui lòng nhập lại mật khẩu"
            [(ngModel)]="formResetPassword.confirmPassword"
          />
        </div>
        <div class="flex items-start justify-between w-full">
          <div class="flex items-start justify-start w-full">
            <div class="flex items-center h-5 border">
              <input
                id="newsletter"
                aria-describedby="newsletter"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                required=""
              />
            </div>
            <div class="ml-3 text-sm">
              <label
                for="newsletter"
                class="font-light text-gray-500 dark:text-gray-300"
                >Tôi đồng ý với
                <a
                  class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                  href="#"
                  >Điều khoản sử dụng</a
                ></label
              >
            </div>
          </div>
          <button
            (click)="toggleshowPassword()"
            type="button"
            class="px-2 py-0 text-xl rounded-md hover:text-violet-800 hover:bg-slate-200"
          >
            <i
              [ngClass]="showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill'"
              class="cursor-pointer bi"
            ></i>
          </button>
        </div>
        <button
          type="submit"
          class="w-full bg-zinc-800 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Thay đổi mật khẩu
        </button>
      </form>
    </div>
  </div>
</section>
