<div class="relative flex w-full h-screen ">
  <div class="flex flex-col w-full h-full">
    <!-- header -->
    <div class="flex items-end justify-between mx-6 my-5">
      <div class="flex items-center justify-start gap-4">
        <h1 class="text-4xl font-bold uppercase font-signika">Doanh thu</h1>
        <select
          [(ngModel)]="selectedCourseId"
            (ngModelChange)="setNameChart()"
          class="w-[180px] py-2 border rounded-md focus:outline-none shadow-sm shadow-gray-400"
        >
          <option [value]="-1" selected>Tất cả khóa học</option>
          <option *ngFor="let item of courses" [value]="item.id">{{item.title}}</option>
        </select>
      </div>
      <div class="hidden gap-10">
        <!-- Đã rút tiền -->
        <div 
          class="flex items-center gap-2 px-3 py-2 border-2 rounded-lg border-slate-500"
        >
          <h1 class="font-semibold text-gray-600">Có thể thanh toán:</h1>
          <span class="text-sm font-bold text-green-700"
            >2,000,000 <span class="text-sm text-gray-600">đ</span></span
          >
        </div>
        <!-- Đã rút tiền -->
        <div
          class="flex items-center gap-2 px-3 py-2 border-2 rounded-lg border-slate-500"
        >
          <h1 class="font-semibold text-gray-600">Đã thanh toán:</h1>
          <span class="text-sm font-bold"
            >18,000,000 <span class="text-sm text-gray-600">đ</span></span
          >
        </div>
      </div>
      <div class="flex gap-3">
        <button
          hidden
          (click)="toggleShowModalQA()"
          type="button"
          class="px-3 py-2 font-semibold rounded-md bg-zinc-200"
        >
          Hỏi đáp
        </button>
        <button
        (click)="toggleisShowModalEnrollmentBuyCourse()"
          type="button"
          class="px-3 py-2 font-semibold rounded-md bg-zinc-200"
        >
          Học viên mua khóa học
        </button>

        <button
          (click)="toggleShowModalWithdrawHistory()"
          type="button"
          class="px-3 py-2 font-semibold bg-blue-200 rounded-md"
        >
          Lịch sử rút tiền
        </button>
        <button
          (click)="toggleShowModalWithdraw()"
          type="button"
          class="px-3 py-2 font-semibold bg-red-200 rounded-md"
        >
          Yêu cầu rút tiền
        </button>
      </div>
    </div>

    <!-- body -->
    <div class="flex flex-col w-auto h-full mx-3 mt-5">
      <div class="flex flex-col w-full h-full p-5">
        <!-- over view : revenue : number of student : rate of courses -->
        <div class="flex items-center justify-between w-full">
          <div class="flex items-start justify-start gap-20">
            <!-- tổng doanh thu -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Tổng doanh thu</h1>
              <span class="text-3xl font-bold"
                >{{TongDoanhThu | number: '1.0-0' }}<span class="text-sm text-gray-600">đ</span></span
              >
            </div>
            <!-- doanh thu tháng này -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Doanh thu tháng này</h1>
              <span class="text-3xl font-bold"
                >{{TongDoanhThuThangHienTai |  number : '1.0-0'}} <span class="text-sm text-gray-600">đ</span></span
              >
            </div>
            <!-- Tổng số học sinh tham gia khóa học -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Tổng học viên</h1>
              <span class="text-3xl font-bold"
                >{{TongHocVien | number: '1.0-0' }} <span class="text-sm text-gray-600">người</span></span
              >
            </div>
            <!--  học sinh tham gia khóa học tháng này -->
            <div class="flex flex-col">
              <h1 class="font-semibold text-gray-600">Học viên tháng này</h1>
              <span class="text-3xl font-bold"
                >{{TongHocVienThangHienTai | number: '1.0-0' }} <span class="text-sm text-gray-600">người</span></span
              >
            </div>
            <!-- Đánh giá giảng viên -->
            <div hidden class="flex-col">
              <h1 class="font-semibold text-gray-600">Đánh giá giảng viên</h1>
              <span class="text-3xl font-bold"
                >4.8
                <span class="text-sm text-gray-600"
                  ><i class="bi bi-star-fill"></i></span
              ></span>
            </div>
            <!-- đánh giá khóa học (chỉ hiển thị khi chọn khóa học chỉ định, nếu chọn tất thì sẽ ẩn mục này đi)  -->
            <div class="flex flex-col" *ngIf="selectedCourseId != -1">
              <h1 class="font-semibold text-gray-600">Đánh giá khóa học</h1>
              <span class="text-3xl font-bold"
                >4.5 
                <span class="text-sm text-gray-600"
                  ><i class="bi bi-star-fill"></i></span
              ></span>
            </div>
          </div>
          <div class="flex">
            <select
              (change)="onChangeTypeChart($event)"
              class="w-[180px] py-2 border rounded-md focus:outline-none shadow-sm shadow-gray-400"
            >
              <option
                *ngFor="let item of typeChartList; let i = index"
                [value]="typeChartList[i].name"
              >
                {{ item.title }}
              </option>
            </select>
          </div>
        </div>
        <!-- chart -->
        <div class="flex w-full h-full mt-8">
          <div
            class="flex flex-col w-full h-full border-2 border-gray-500 rounded-md"
          >
            <!-- biểu đồ tại đây -->
            <apx-chart
              *ngIf="
                chartOptions.series &&
                chartOptions.chart &&
                chartOptions.xaxis &&
                chartOptions.title
              "
              class="w-full h-full"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [title]="chartOptions.title"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>

    <!-- modal withdraw -->
    <div class="fixed w-screen h-screen" *ngIf="isShowModalWithdraw">
      <!-- background -->
      <div
        id="BackgroungModalWithdrawID"
        class="absolute flex w-screen z-[10] h-screen bg-zinc-900 opacity-80"
      ></div>

      <!-- modal -->
      <div
        #ModalWithdraw
        id="modalWithdrawID"
        class="flex absolute right-1/3 items-center z-[9999999999] justify-center w-1/3 h-fit"
      >
        <div class="flex flex-col w-full h-full bg-white rounded-md">
          <!-- header -->
          <div
            class="flex flex-col items-center justify-center h-[10%] px-5 w-full"
          >
            <div class="flex items-center justify-between w-full">
              <h1 class="text-xl font-bold">Yêu cầu rút tiền</h1>
              <button
                (click)="toggleShowModalWithdraw()"
                type="button"
                class="text-2xl text-black transition-all duration-500 rounded-full hover:bg-slate-300"
              >
                <i class="cursor-pointer bi bi-x"></i>
              </button>
            </div>
            <p class="flex gap-2 text-xs text-gray-500">
              <i class="bi bi-info-circle"></i>
              Vui lòng kiểm tra kỹ thông tin nhận tiền, nếu sai bạn có thể sẽ
              mất tiền.
            </p>
            <p class="flex gap-2 text-xs text-gray-500">
              <i class="bi bi-info-circle"></i>
              Chúng tôi sẽ thanh toán mỗi tháng 1 lần, dù cho bạn có bao nhiêu doanh thu
            </p>
          </div>
          <!-- body -->
          <div class="flex flex-col w-full h-[90%] rounded-md p-6 space-y-4">
            <!-- Ngân hàng của người dùng -->
            <div class="flex flex-col space-y-2">
              <label for="bank" class="text-sm font-medium">Ngân hàng</label>
              <select
                id="bank"
                class="p-2 border rounded-md"
                [(ngModel)]="selectedBankId"
                disabled="true"
              >
                <option class="grid grid-cols-2 gap-4" value="">
                  -- Chọn ngân hàng --
                </option>
                <option
                  class="grid grid-cols-2 gap-4"
                  *ngFor="let item of bankdata"
                  value="{{ item.id }}"
                >
                  {{ item.nameBank }}
                </option>
                <!-- Thêm các ngân hàng khác tại đây -->
              </select>
            </div>

            <!-- Số tài khoản ngân hàng -->
            <div class="flex flex-col space-y-2">
              <label for="accountNumber" class="text-sm font-medium"
                >Số tài khoản</label
              >
              <input
                type="text"
                id="accountNumber"
                class="p-2 border rounded-md"
                placeholder="Nhập số tài khoản"
                [(ngModel)]="accountNumber"
                disabled="true"
              />
            </div>

            <!-- Tên chủ tài khoản -->
            <div class="flex flex-col space-y-2">
              <label for="accountName" class="text-sm font-medium"
                >Tên chủ tài khoản</label
              >
              <input
                type="text"
                id="accountName"
                class="p-2 border rounded-md"
                placeholder="Nhập tên chủ tài khoản"
                [(ngModel)]="recipientName"
                disabled="true"
              />
            </div>

            <!-- Số điện thoại -->
            <div class="flex flex-col space-y-2">
              <label for="phoneNumber" class="text-sm font-medium"
                >Số điện thoại</label
              >
              <input
                type="text"
                id="phoneNumber"
                class="p-2 border rounded-md"
                placeholder="Nhập số điện thoại"
                [(ngModel)]="phoneNumber"
                disabled="true"
              />
            </div>

            <!-- Email -->
            <div class="flex flex-col space-y-2">
              <label for="email" class="text-sm font-medium">Email</label>
              <input
                type="email"
                id="email"
                class="p-2 border rounded-md"
                placeholder="Nhập email"
                [(ngModel)]="email"
                disabled="true"
              />
            </div>
            <!-- số tiền -->
            <div class="flex flex-col space-y-2">
              <label for="email" class="text-sm font-medium">Thanh toán</label>
              <input
                type="text"
                id="TongDoanhThuThangHienTai"
                class="p-2 border rounded-md"
                [(ngModel)]="TongDoanhThuThangHienTai"
                disabled="true"
              />
            </div>

            <!-- Mã xác nhận -->
            <div hidden class="flex-col space-y-2">
              <div class="flex items-center justify-start gap-2">
                <label for="confirmationCode" class="text-sm font-medium"
                  >Mã xác nhận</label
                >
                <p class="hidden font-semibold text-red-500">sai mã xác thực</p>
              </div>
              <div class="flex items-center justify-between">
                <input
                  type="text"
                  id="confirmationCode"
                  class="w-3/4 p-2 border rounded-md"
                  placeholder="Nhập mã xác nhận"
                />
                <button type="button" class="px-3 py-2 rounded-md bg-zinc-200">
                  Xác nhận
                </button>
              </div>
            </div>

            <!-- Nút gửi yêu cầu -->
            <button
              (click)="requestWithdraw()"
              class="p-2 mt-4 text-white bg-blue-500 rounded-md hover:bg-blue-600"
            >
              Gửi yêu cầu
            </button>
            
          </div>
        </div>
      </div>
    </div>

    <!-- modal enrollment buy course-->
    <div
      class="fixed items-center justify-end w-screen h-screen z-[99999999]"
      *ngIf="isShowModalEnrollmentBuyCourse"
    >
      <!-- background -->
      <div
        id="BackgroungModalWithdrawHistoryID"
        class="absolute flex w-screen z-[10] h-screen bg-zinc-900 opacity-80"
      ></div>

      <!-- modal -->
      <div
        #ModalWithdrawHistory
        id="modalWithdrawHistoryID"
        class="flex absolute top-3 left-32 items-center z-[99999999] justify-center w-10/12 h-[calc(100vh-104px)]"
      >
        <div class="flex flex-col w-full h-full bg-white rounded-md">
          <!-- content -->
          <div class="container px-4 py-8 mx-auto">
            <div class="flex items-start justify-between">
              <h1 class="mb-6 text-3xl font-bold">Học viên đã mua khóa học</h1>
              <button
                (click)="toggleisShowModalEnrollmentBuyCourse()"
                type="button"
                class="px-2 py-1 hover:bg-slate-300"
              >
                <i class="cursor-pointer bi bi-x-lg"></i>
              </button>
            </div>

            <div
              class="overflow-hidden bg-white rounded-lg shadow-md z-[99999999]"
            >
              <div class="overflow-x-auto">
                <div class="max-h-[70vh] overflow-y-auto">
                  <table class="min-w-full leading-normal">
                    <thead class="sticky top-0 bg-gray-100">
                      <tr>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          STT
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Số tiền
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Trạng thái
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Ngày
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Phương thức
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Người gửi
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                         Tên khóa học
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Email
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let transaction of students; let i = index">
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ i + 1 }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="font-semibold text-gray-900 whitespace-no-wrap">
                            {{
                              transaction.amount | number : "1.0-0"
                            }}đ
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <span
                            [class]="
                              'px-2 py-1 font-semibold leading-tight rounded-full ' +
                              getStatusClass(transaction.status)
                            "
                          >
                            {{ transaction.status }}
                          </span>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.paymentDate | date : "dd/MM/yyyy" }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.paymentMethod }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.account_holder_name }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.courseTitle }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.email }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- end -->
        </div>
      </div>
    </div>
    <!-- modal withdraw history -->
    <div
      class="fixed items-center justify-end w-screen h-screen z-[99999999]"
      *ngIf="isShowModalWithdrawHistory"
    >
      <!-- background -->
      <div
        id="BackgroungModalWithdrawHistoryID"
        class="absolute flex w-screen z-[10] h-screen bg-zinc-900 opacity-80"
      ></div>

      <!-- modal -->
      <div
        #ModalWithdrawHistory
        id="modalWithdrawHistoryID"
        class="flex absolute top-3 left-32 items-center z-[99999999] justify-center w-4/5 h-[calc(100vh-104px)]"
      >
        <div class="flex flex-col w-full h-full bg-white rounded-md">
          <!-- content -->
          <div class="container px-4 py-8 mx-auto">
            <div class="flex items-start justify-between">
              <h1 class="mb-6 text-3xl font-bold">Lịch sử rút tiền</h1>
              <button
                (click)="toggleShowModalWithdrawHistory()"
                type="button"
                class="px-2 py-1 hover:bg-slate-300"
              >
                <i class="cursor-pointer bi bi-x-lg"></i>
              </button>
            </div>

            <div
              class="overflow-hidden bg-white rounded-lg shadow-md z-[99999999]"
            >
              <div class="overflow-x-auto">
                <div class="max-h-[70vh] overflow-y-auto">
                  <table class="min-w-full leading-normal">
                    <thead class="sticky top-0 bg-gray-100">
                      <tr>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          STT
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Số tiền
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Trạng thái
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Ngày
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                         Số tài khoản
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Người gửi
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                         Ngân hàng
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Số tiền
                        </th>
                        <th
                          class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200"
                        >
                          Email
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let transaction of transactions; let i = index">
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                          {{ i + 1 }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{
                              transaction.amount
                                | number : "1.0-0"
                            }}đ
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <span
                            [class]="
                              'px-2 py-1 font-semibold leading-tight rounded-full ' +
                              getStatusClass(transaction.status)
                            "
                          >
                            {{ transaction.status }}
                          </span>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.request_created_at | date : "dd/MM/yyyy" }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.bank_account_number }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.account_holder_name }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.bank_name }}
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.amount | number : "1.0-0" }}đ
                          </p>
                        </td>
                        <td
                          class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ transaction.email }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- end -->
        </div>
      </div>
    </div>

    <!-- modal QA -->
    <div class="fixed w-screen h-screen z-[9999999999]" *ngIf="isShowModalQA">
      <!-- background -->
      <div
        id="BackgroungModalQAID"
        class="absolute flex w-screen z-[10] h-screen bg-zinc-900 opacity-80"
      ></div>

      <!-- modal -->
      <div
        #ModalQA
        id="modalQAID"
        class="flex absolute right-1/3 items-center justify-center w-1/3 h-[calc(100vh-104px)] z-[9999999999]"
      >
        <div class="flex flex-col w-full h-full bg-white rounded-md">
          <!-- header -->
          <div
            class="flex flex-col items-center justify-center h-[10%] px-5 w-full z-[9999999999]"
          >
            <div class="flex items-center justify-between w-full">
              <h1 class="text-xl font-bold">Yêu cầu rút tiền</h1>
              <button
                (click)="toggleShowModalQA()"
                type="button"
                class="text-2xl text-black transition-all duration-500 rounded-full hover:bg-slate-300"
              >
                <i class="cursor-pointer bi bi-x"></i>
              </button>
            </div>
          </div>
          <!-- body -->
          <div
            class="flex flex-col w-full h-[90%] rounded-md p-6 bg-slate-50 space-y-4 z-[99999999]"
          >
            <!-- content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
