#sectionContaint::-webkit-scrollbar {
  display: flex;
}
#rescrourseContaint::-webkit-scrollbar {
  display: none;
}

/* Tùy chỉnh thanh cuộn */
#lectureDetail::-webkit-scrollbar {
  width: 7px; /* Độ cao của thanh cuộn ngang */
}

#lectureDetail::-webkit-scrollbar-thumb {
  background-color: #b0bbd9; /* Màu của thanh kéo */
  border-radius: 0px; /* Bo tròn thanh kéo */
  border: 0px solid #f3f4f6; /* Tạo khoảng cách với đường dẫn */
}

#lectureDetail::-webkit-scrollbar-track {
  background-color: #f3f4f600; /* Màu nền của đường dẫn */
  border-radius: 0px; /* Bo tròn đường dẫn */
}

/* Tùy chỉnh khi hover lên thanh cuộn */
#lectureDetail::-webkit-scrollbar-thumb:hover {
  background-color: #21201b; /* Màu khi hover lên thanh kéo */
}

li {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

li:hover {
  background-color: lightgray;
}

.selected {
  background-color: #007bff !important;
  color: white !important;
}

#static_modal_category::-webkit-scrollbar {
  display: none;
}
#static_modal_category_lv::-webkit-scrollbar {
  display: none;
}
#static_modal_category_cn::-webkit-scrollbar {
  display: none;
}
#static_modal_category_pm::-webkit-scrollbar {
  display: none;
}
#static_modal_category_lv_s::-webkit-scrollbar {
  display: none;
}
#static_modal_category_cn_s::-webkit-scrollbar {
  display: none;
}
#static_modal_category_pm_s::-webkit-scrollbar {
  display: none;
}
