<div class="w-full h-screen p-6 overflow-y-auto bg-gray-100">
  <header class="mb-6">
    <div
      class="flex flex-col justify-between gap-2 mb-6 lg:flex-row lg:items-center"
    >
      <h1 class="text-4xl font-bold text-gray-800 font-signika uppercasel">
        Quản lý người dùng
      </h1>

      <nav class="flex flex-wrap gap-2">
        <button
          (click)="toggleDataTable(1)"
          class="px-4 py-2 text-gray-700 transition-colors bg-white border border-gray-200 rounded-md hover:bg-gray-100"
        >
          Thông tin chung
        </button>
        <button
          (click)="toggleDataTable(2)"
          class="px-4 py-2 text-gray-700 transition-colors bg-white border border-gray-200 rounded-md hover:bg-gray-100"
        >
          Quản lý học viên
        </button>
        <button
          (click)="toggleDataTable(3)"
          class="px-4 py-2 text-gray-700 transition-colors bg-white border border-gray-200 rounded-md hover:bg-gray-100"
        >
          Quản lý giảng viên
        </button>
      </nav>
    </div>
  </header>

  <main class="flex flex-col w-full gap-20 pb-5">
    <!-- bảng dữ liệu -->
    <div
      class="bg-white rounded-lg w-full shadow-sm shadow-gray-500 h-[800px] min-h-[400px] border border-gray-200"
    >
      <div
        class="flex items-center justify-between w-full px-5 py-4 border-b border-gray-600 h-[80px]"
      >
        <h2 class="w-full text-2xl font-medium text-gray-800">bảng dữ liệu</h2>
        <!-- center -->
        <div class="flex items-center justify-between w-full gap-2 sm:flex-row">
          <div class="flex flex-col">
            <select
              [(ngModel)]="selectedFilter"
              class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:outline-none focus:shadow-sm focus:shadow-black"
            >
              <option value="" disabled>Lọc dữ liệu</option>
              <option value="az">Sắp xếp A-Z</option>
              <option value="za">Sắp xếp Z-A</option>
              <option value="revenue-desc">Doanh thu lớn - nhỏ</option>
              <option value="revenue-asc">Doanh thu nhỏ - lớn</option>
              <option value="pending-desc">Chờ thanh toán lớn - nhỏ</option>
              <option value="pending-asc">Chờ thanh toán nhỏ - lớn</option>
              <option value="received-desc">Tiền đã nhận lớn - nhỏ</option>
              <option value="received-asc">Tiền đã nhận nhỏ - lớn</option>
              <option value="courses-desc">Số khóa học lớn - nhỏ</option>
              <option value="courses-asc">Số khóa học nhỏ - lớn</option>
            </select>
          </div>
          <div class="flex bg-white">
            <div class="w-full max-w-sm min-w-[300px]">
              <div class="relative">
                <input
                  class="w-full py-2 pl-3 text-sm transition duration-300 bg-transparent border rounded-md shadow-sm placeholder:text-slate-400 text-slate-700 border-slate-200 pr-28 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 focus:shadow"
                  placeholder="Nhập nội dung cần tìm..."
                />
                <button
                  class="absolute top-1 right-1 flex items-center rounded bg-slate-800 py-1 px-2.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-4 h-4 mr-2"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  Tìm
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--export data to excel file  -->
        <div class="flex items-center justify-end w-full gap-3">
          <button
            (click)="toggleFullScreen()"
            type="button"
            class="h-full px-3 py-2 bg-white border rounded-lg shadow-sm hover:bg-gray-100 hover:border-slate-500"
          >
            <i class="cursor-pointer bi bi-arrows-fullscreen"></i>
          </button>
          <button
            type="button"
            class="px-3 py-2 text-white bg-green-600 border-green-800 rounded-lg shadow-md shadow-green-400"
          >
            Xuất file Excel
          </button>
        </div>
      </div>
      <!-- biểu đồ tại đây -->
      <div
        #chartContainer
        class="px-2 my-4 mb-4 overflow-y-auto text-lg font-medium text-gray-800 h-[690px] bg-white"
      >
        <app-table-data-user-admin
          [data]="products"
        ></app-table-data-user-admin>
      </div>
      <!-- Table content would go here -->
    </div>
    <!-- biểu đồ -->
    <div class="flex flex-col h-full gap-4">
      <div class="flex items-center justify-between">
        <h1 class="flex items-center px-5 text-2xl font-bold uppercase">
          Biểu đồ người dùng đăng ký qua các tháng năm 2025
        </h1>
        <div class="flex items-center">
          <button
            type="button"
            hidden
            class="px-2 py-1 bg-white border rounded-lg hover:bg-gray-100 hover:border-slate-500"
          >
            <i class="cursor-pointer bi bi-arrows-fullscreen"></i>
          </button>
          <!-- over view : revenue : number of student : rate of courses -->
          <div class="flex items-center justify-between w-full">
            <div class="flex">
              <!-- select and option for choose chart type -->
              <select
                (change)="onChangeTypeChart($event)"
                class="w-[180px] py-2 border rounded-md focus:outline-none shadow-sm shadow-gray-400"
              >
                <option
                  *ngFor="let item of typeChartList; let i = index"
                  [value]="typeChartList[i].name"
                >
                  {{ item.title }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-white rounded-lg shadow-sm shadow-gray-500 h-[600px] min-h-[400px] p-4 border border-gray-200 overflow-y-auto"
      >
        <!-- biều đồ -->
        <apx-chart
          *ngIf="
            chartOptions1.series &&
            chartOptions1.chart &&
            chartOptions1.xaxis &&
            chartOptions1.title
          "
          [series]="chartOptions1.series"
          [chart]="chartOptions1.chart"
          [xaxis]="chartOptions1.xaxis"
          [title]="chartOptions1.title"
        ></apx-chart>
      </div>
    </div>
  </main>
</div>
