.gradient-bg {
  background: linear-gradient(to bottom, black, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#modal-content::-webkit-scrollbar {
  display: none !important; /* Ẩn thanh cuộn trên WebKit */
}
